.botonForm {
    font-size: small;
    font-family: sans-serif;
    border-radius: 8px;
    color: rgb(248, 247, 247);
    margin-bottom: 10px;
    width: 85%;
}

.contendorBoton{
  
    display: flex;
    justify-content: center;
}

.contenedorForm{
    background: rgb(188, 190, 188);
   align-items: center;
    width: 25%;
    border-radius: 10px;
    height: 500px;
}
.contenedorGeneral{
    margin-top: 200px;
 
    display: flex;
    justify-content: center;
}

.contenedorLabel1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
}